<!DOCTYPE html>
<html>
<head>
  <title>ITI</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="skin-blue">
<div class="wrapper">

  <header class="main-header">
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" style="background-color: rgb(236, 240, 245);">
      <div class='logo-image'>
        <%= link_to "/" do %>
          <%= image_tag "logo.png", size: "90x60" %>
        <%- end -%>
      </div>
      <div class='logo-title hidden-xs'>
        <%= image_tag "logo-jp.jpg" %>
      </div>
    </nav>
    <nav class="navbar navbar-static-top">
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="hidden-xs">
            <%= link_to "/" do %>
              HOME
            <%- end -%>
          </li>
          <li class="">
            <%= link_to "company" do %>
              COMPANY
            <%- end -%>
          </li>
          <li class="">
            <%= link_to "service" do %>
              SERVICE
            <%- end -%>
          </li>
          <li class="">
            <%= link_to "recruit" do %>
              RECRUIT
            <%- end -%>
          </li>
          <li class="hidden-xs">
            <%= mail_to "info@itisiti.com" do %>
              CONTACT
            <%- end -%>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
      <%- case controller.action_name -%>
      <%- when 'home' -%>
      <%- when 'company' -%>
        Company
      <%- when 'service' -%>
        Service
      <%- when 'recruit' -%>
        Recruit
      <%- when 'contact' -%>
        Contact
      <%- end -%>
      </h1>
    </section>
    <!-- Content -->
    <section class="content">
      <%= yield %>
    </section>

  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <strong>Copyright &copy; 2015-<%=Time.now.year%> ITI Inc.</strong> All rights reserved.
  </footer>

</div>
<!-- ./wrapper -->

</body>
</html>
