<!DOCTYPE html>
<html>
<head>
  <title>Iti</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body class="skin-blue">
<div class="wrapper">

  <header class="main-header">
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" style="background-color: rgb(236, 240, 245);">
      <%= image_tag "logo.png", size: "90x60" %>
    </nav>
    <nav class="navbar navbar-static-top">
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="">
            <%= link_to "/" do %>
            会社概要
            <%- end -%>
          </li>
          <li class="">
            <%= link_to "/" do %>
            事業内容
            <%- end -%>
          </li>
          <li class="user user-menu">
            <%= link_to "/" do %>
            採用情報
            <%- end -%>
          </li>
          <li class="user user-menu">
            <%= link_to "/" do %>
            お問い合わせ
            <%- end -%>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
    aaaaaaaaaaaaaaa
    </section>

  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 1.0.0
    </div>
    <strong>Copyright &copy; 2015-<%=Time.now.year%> ITI.Inc.</strong> All rights reserved.
  </footer>

</div>
<!-- ./wrapper -->

<%= yield %>

</body>
</html>
